<div *ngIf="order">
  <h1>Order: {{ order.id }}</h1>

  <h2>{{ order.created | date: "dd/MM/yyyy HH:mm" }}</h2>
  <h4 *ngIf="order.customer.address as address">
    Address: {{ address.city }}, {{ address.street }} ,
    {{ address.houseNumber }}, {{ address.zip }}
  </h4>
  <h4>
    Delivery: on {{ order.deliveryWindow.date | date: "shortDate" }} between
    {{ order.deliveryWindow.fromHour }}:00 to
    {{ order.deliveryWindow.toHour }}:00
  </h4>
  <h4>Status: {{ order.status }}</h4>
  <div>
    <cart-items
      class="middle"
      [cart]="order.cart"
      [show-add-remove]="false"
    ></cart-items>
  </div>

  <div class="row">
    <button class="btn btn-primary col-3" (click)="addToCart()">
      Append order to cart
    </button>
    <div class="col-md"></div>
    <button
      class="btn btn-danger col-3"
      (click)="editOrder()"
      *ngIf="order.status == 'Pending'"
    >
      Edit order
    </button>
  </div>
</div>
